spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
      idle-timeout: 300000
      connection-timeout: 20000
      leak-detection-threshold: 60000

  jpa:
    show-sql: false

  flyway:
    clean-disabled: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

logging:
  level:
    root: WARN
    platform.ecommerce: INFO

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

management:
  endpoint:
    health:
      show-details: never
